<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text">
              <img src="assets/images/zortuslogo.png" alt="" width="300px" height="180px">
          </div>
      </div>
  </div>
<div class="container-fluid">
  <div class="map-responsive">
 <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=1321+West+8th+Street+Upland+California+EE.+UU."
 width="600" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>
