<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text">
              <img src="assets/img/logo/loder.jpg" alt="">
          </div>
      </div>
  </div>
</div>
<div class="preloader d-flex align-items-center justify-content-center">
  <strong>
    <h1>
      We Believe in Excellence, We Deliver Excellence.
    </h1>
  </strong>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/biSolutions.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text"> BI technologies provide historical, current, and predictive views of business operations.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/employerOfRecord.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Using an Employer of Records allows companies to legally and efficiently engage with overseas workers.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/itconsulting.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Help individuals or businesses make technology purchases or strategy decisions and resolve technology challenges.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/managedServices.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">MS is designed to handle the daily operations of your specialized applications.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/rpaSolutions.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Robotic Process Automation software-based.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/mobileWebApps.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Improve customer service, apart from increasing your product sales and business visibility.</p>
      </div>
    </div>
  </div>
</div>






