<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text">
              <img src="assets/img/logo/loder.jpg" alt="">
          </div>
      </div>
  </div>
</div>
<div class="preloader d-flex align-items-center justify-content-center">
  <strong>
    <h1>
      We Believe in Excellence, We Deliver Excellence.
    </h1>
  </strong>
</div>
<mat-list>
  <h3 mat-subheader style="background-color: white;color: teal;">IT Services That Help You Grow</h3>
  <mat-list-item >
      ZORTUS provides you economical access to the top IT talents and the best development expertise. Our mission is to help your business grow and innovate. Our team of experts can help you find and hire IT employees with well-matched skills across all disciplines and industries on a permanent as well as contract basis. We are not just an IT staffing agency, we provide complete IT solutions. Our highly experienced developers can deliver end-to-end software development services, from conceptualization to coding and development to deployment. We also provide industry-oriented, professional skill development and IT training to students and young professionals.
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader style="background-color: white;color: teal;">What We Do</h3>
  <mat-list-item >
    From sourcing technology professionals for organizations to custom software
    development with the latest technologies, our IT solutions help you build, grow,
    and modernize your business.
  </mat-list-item>
  <h3 mat-subheader style="background-color: white;color: teal;">Software Development</h3>
  <mat-list-item >
    With extensive tech expertise and decades of development experience,
    our dedicated software developers can help you develop a custom digital product for
    any platform. Our cost-effective, scalable, flexible, productive, and maintainable
    software products empower your business, drive your revenue, and fuel your growth.
    Whether you need consulting, development, integration,
    migration to software maintenance services, we have got you covered.
  </mat-list-item>
  <h3 mat-subheader style="background-color: white;color: teal;">Why Partner with ZORTUS</h3>
  <mat-list-item >
    Whether you need corp-to-corp, contract-to-hire, direct hire or permanent staffing
    services, ZORTUS' talent strategy and IT staffing solutions team meets your
     every requirement and manages everything, from the first screening to
    final hire or everything in between.
  </mat-list-item>
</mat-list>
