<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text">
              <img src="assets/images/zortuslogo.png" alt="" width="300px" height="180px">
          </div>
      </div>
  </div>
</div>
<div class="preloader d-flex align-items-center justify-content-center">
  <strong>
    <h1>
      WHAT WE DO
    </h1>
  </strong>
</div>
<div class="container">
<div class="row row-cols-lg-1 row-cols-lg-2 row-cols-lg-3 row-cols-lg-4">

  <div class="col mb-4">
    <div class="card">
      <img src="assets/images/itconsulting.png" alt="IT Consulting">
      <div class="card-body" style="background-color: #69b9ff;">
        <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="assets/images/biSolutions.png" alt="BI Solutions">
      <div class="card-body" style="background-color: #69b9ff;">
        <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="assets/images/mobileWebApps.png" alt="Mobile WebApps">
      <div class="card-body" style="background-color:#69b9ff;">
        <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p> -->
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="assets/images/rpaSolutions.png" alt="RPA Solutions">
      <div class="card-body" style="background-color:#69b9ff;">
        <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
      </div>
    </div>
  </div>
  
</div>
</div>
<!-- <div class="preloader d-flex align-items-center justify-content-center">
  <strong>
    <h1>
      WHO WE ARE
    </h1>
  </strong>
</div> -->


