
<div class="container">
<div class="row">
  <strong>
    <h1>
      We Believe in Excellence, We Deliver Excellence.
    </h1>
  </strong>
</div>
<!-- <carousel>
  <div class="carousel-cell">
    <img src="/assets/images/it-consulting-and-staffing-500x500.jpg" >
  </div>
  <div class="carousel-cell">
    <img src="/assets/images/it-consulting-and-staffing-500x500.jpg" >
</carousel> -->
<!-- <div class="row" >
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="/assets/images/it-consulting-and-staffing-500x500.jpg" alt="" width="1100" height="300">
      </div>
      <div class="carousel-caption">
        <h3>IT Consulting & Staffing</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="/assets/images/training.jpg" alt="" width="1100" height="300">
      </div>
      <div class="carousel-caption">
        <h3>IT Training</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="/assets/images/indianSoftware.jpg" alt="" width="1100" height="300">
      </div>
      <div class="carousel-caption">
        <h3> Software Developement</h3>
      </div>
    </ng-template>
  </ngb-carousel>
</div> -->
  <div class="row">
    ZORTUS INC is a leading IT services company with a primary focus on talent acquisition,
    IT consulting and training, and software development.
   Being one of the leading IT staffing companies, we help you find the right candidates, with right the skills, competencies, professionalism, and attitude. We don't just work as your IT consultant, we help you build an optimal workforce strategy with our proven data-driven methodology. We understand that you are looking for the best talents with niche skills. We build a strong talent pipeline within a short period. Whether you require contract-to-hire services, direct hires, or permanent placement services, our competent staffing experts will find the candidates who will meet the unique needs of your company.
   Our IT services aren't just limited to staffing and contingent workforce management. We place equal emphasis on providing world-class software development services to our clients. Covering multiple industries over the years, we provide custom solutions to a variety of businesses, from start-up level companies to big enterprises. From web application development, mobile app development, UI & UX design, software testing, to big data and cloud computing,
   we simplify your development process and reduce cost- and time-to-market.
  </div>
  <br>
  <br>
  <div class="row">
      <div class="col-sm">
        <img src="assets/images/it-consulting-and-staffing-500x500.jpg" alt="" width="300" height="300">
        <label>
          IT Consulting & Staffing
        </label>
      </div>
    <div class="col-sm">
      <img src="assets/images/training.jpg" alt="" width="300" height="300">
      <label>
        IT Training
      </label>
    </div>
    <div class="col-sm">
      <img src="assets/images/indianSoftware.jpg" alt="" width="300" height="300">
      <label>
        Software Developement
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <!-- <label>
        IT Consulting & Staffing
      </label> -->
  </div>
  <div class="col-sm">
    <!-- <label>
      IT Training
    </label> -->
  </div>
  <div class="col-sm">
    <!-- <label>
      Software Developement
    </label> -->
  </div>
</div>
</div>
<div>
</div>

