<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
<div class="container" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
    <footer>
      <div class="row">
        <div class="col-sm">
        </div>
        <!-- <div class="col-sm" style="align-content: fixed;">
            <a href="#" class="fa fa-facebook"></a>&nbsp;&nbsp;
            <a href="#" class="fa fa-twitter"></a>&nbsp;&nbsp;
            <a href="#" class="fa fa-linkedin"></a>&nbsp;&nbsp;
        </div> -->
        <div class="col-sm">

        </div>
      </div>
      <div class="row">
        <div class="col-md-12 copy">
          <div>
            <p>FOLLOW US</p>
            <a href="#" class="fa fa-facebook"></a>&nbsp;&nbsp;
            <a href="#" class="fa fa-twitter"></a>&nbsp;&nbsp;
            <a href="#" class="fa fa-linkedin"></a>&nbsp;&nbsp;
        </div>
          <p class="text-center">&copy; Copyright 2020 - ZORTUS INC.  All rights reserved.</p>
        </div>
      </div>
     </footer>
  </div>
</body>
